<table class= "mt-3 table">
      <thead>
        
        <tr>
            <th class="p3">VIN</th>
            <th class="p3" >ODOMETRO</th>
            <th class="p3">NIVEL DE COMBUSTIVEL</th>
            <th class="p3">STATUS</th>
            <th class="p3">LATITUDE</th>
            <th class="p3">LONGITUDE</th>
        </tr>

      </thead>
      <tbody>
        <tr>
            <td>
                <input type="text">
            </td>
            <td class="p3">80000Km</td>
            <td class="p3">90%</td>
            <td class="p3">ON</td>
            <td class="p3">>-32.2831</td>
            <td class="p3">-14.1625</td>
        </tr>

      </tbody>

    </table> 