<table class= "mt-3 table">
      <thead>
        
        <tr>
            <th class="p3">VIN</th>
            <th class="p3" >ODOMETRO</th>
            <th class="p3">NIVEL DE COMBUSTIVEL</th>
            <th class="p3">STATUS</th>
            <th class="p3">LATITUDE</th>
            <th class="p3">LONGITUDE</th>
        </tr>

      </thead>
      <tbody>
        <tr>
            <td>
                <input (change)="onChangeVin($event)" type="text" placeholder="{{ vin }}" value="{{ vin }}">
               
            </td>
            <td class="p3">{{odometro}}Km</td>
            <td class="p3">{{nivelCombustivel}}%</td>
            <td class="p3">{{status.toUpperCase()}}</td>
            <td class="p3">>{{lat}}</td>
            <td class="p3">{{long}}</td>
        </tr>

      </tbody>

    </table> 