<button class="btn btn-primary navbar-toggler navbar-dark position-fixed top-0 start-0 m-3" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
  <span class="navbar-toggler-icon"></span>
</button>

<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">Ford Enter</h5>
    
  </div>
  <div class="offcanvas-body d-flex flex-column">
   <button class= "btn btn-primary mb-2" (click)="goToHome()">Home</button>
   <button class= "btn btn-primary" (click)="goToDashboard()">Dashboard</button>
   <a href="/dashboard"></a>
   
   <button class="btn btn-danger mt-auto w-100" (click)="logout()">Logout</button>
  </div>
</div>
